<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:rabbit="http://www.springframework.org/schema/rabbit"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
      http://www.springframework.org/schema/context
      http://www.springframework.org/schema/context/spring-context.xsd
      http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
      http://www.springframework.org/schema/rabbit
      http://www.springframework.org/schema/rabbit/spring-rabbit-1.0.xsd
      ">
	<!-- 连接服务配置 -->
	<rabbit:connection-factory id="mqConnectionFactory"
		host="${rabbitmq.host}" username="${rabbitmq.username}" password="${rabbitmq.password}" port="${rabbitmq.port}" />

	<rabbit:admin connection-factory="mqConnectionFactory" />

	<!-- queue 队列声明 -->
	<rabbit:queue id="pns_task_mq" durable="true" auto-delete="false" exclusive="false" name="pns_task_mq" />

	<!-- exchange queue binging key 绑定 -->
	<rabbit:direct-exchange name="mg_exchange"
		durable="true" auto-delete="false" id="mg_exchange">
		<rabbit:bindings>
			<rabbit:binding queue="pns_task_mq" key="pns_task_mq" />
		</rabbit:bindings>
	</rabbit:direct-exchange>

	 <!-- routing-key="queue_one_key" queue="queue_one" -->
	<!--<rabbit:template id="amqpTemplate"  exchange="mg_exchange" connection-factory="mqConnectionFactory" /> -->
	
    <!-- queue litener  观察 监听模式 当有消息到达时会通知监听在对应的队列上的监听对象-->
    <rabbit:listener-container connection-factory="mqConnectionFactory" acknowledge="auto">
        <rabbit:listener queues="pns_task_mq" ref="taskQueueListener"/>
    </rabbit:listener-container>
</beans>